* {
	margin: 10px;
	padding: 0px;
	box-sizing: border-box;
}


.divfull {
	margin:  auto;
	max-width: 100%;
	padding: 0 20px;
	overflow: auto;
}
.divfirst {
	display: table-row;
	font-size: 22px;
	background: #333;
	color: #fff;
	padding: 20px 20px;
	border: none;
	margin: auto;

}
.div2 {
	display: table-row;
	font-size: 22px;
	background: #333;
	color: #fff;
	padding: 20px 20px;
	border: none;
	margin: auto;
}
.div3 {
	display: table-row;
	font-size: 22px;
	background: #333;
	color: #fff;
	padding: 20px 20px;
	border: none;
	margin: auto;
}
form {
	display: table-cell;
	font-size: 18px;
	background: #333;
	color: #fff;
	padding: 13px 20px;
	border: none;
}
input {
	display: center;
	font-size: 18px;
	background: #555;
	color: #fff;
	padding: 13px 20px;
	border: none;
}